h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.container {
  min-height: max-content;
  max-width: 60vw;
  margin: auto;
  margin-top: 1%;
  padding: 1rem;
  border: 3px solid var(--tertiary-color);
  border-radius: 30px;
  box-shadow: 4px 4px 8px 4px var(--secondary-color);
}
.description {
  margin-bottom: 1rem;
}
