<div class="header-container endcap-color">
  <div class="header-nav-container">
    <button
      aria-label="Navigate to page - Home"
      tabindex="0"
      class="header-nav-btn"
      onclick="window.location.href = '/'"
    >
      Home
    </button>
    <button
      aria-label="Navigate to page - About"
      tabindex="0"
      class="header-nav-btn"
      onclick="window.location.href = '/about'"
    >
      About
    </button>
    <button
      aria-label="Navigate to page - Blog"
      tabindex="0"
      class="header-nav-btn"
      onclick="window.location.href = '/blog'"
    >
      Blog
    </button>
    <button id="devButton" class="header-nav-btn" onclick="alert(`(ㆆ _ ㆆ)`)">
      DO NOT CLICK
    </button>
  </div>
</div>
