<link
  rel="stylesheet"
  href="{{ site.baseurl }}{{ project.url }}/assets/css/includes.css?v={{ site.github.build_revision }}"
/>
<footer class="global-footer overlay text-center">
  <div class="footer-container">
    <span class="made-with-love">
      Made with
      <i
        class="fas fa-heart"
        title=">dev.refresh-cache"
        onclick="location.reload(true);"
        style="margin: 0 0.3rem"
      ></i>
      by Benjamin
    </span>
    <span class="build-revision"
      >build: {{ site.github.build_revision | truncate: 10 }}
    </span>
  </div>
</footer>
