<link
  rel="stylesheet"
  href="{{ site.url }}{{ site.baseurl }}/assets/css/includes.css"
/>
<footer class="global-footer overlay text-center">
  <div class="footer-container">
    <span class="made-with-love">
      Made with
      <i
        class="fas fa-heart"
        id="devHeart"
        title=">dev.purge-cache"
        style="margin: 0 0.3rem"
      ></i>
      by Benjamin
    </span>
    <button
      id="devButton"
      class="nav-panel-btn"
      onclick="window.location.href='{{ site.url }}{{ site.baseurl }}/private/development'"
      style="display: none"
    >
      <i class="fas fa-code"></i>
    </button>
  </div>
</footer>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/devHeart.js"></script>
