<div id="layoutHeader" class="layout-header">
  <div class="logo">{{ site.title }}</div>
  <nav>
    <button
      aria-label="Navigate to page - Home"
      tabindex="0"
      class="header-nav-btn"
      onclick="window.location.href = '/'"
    >
      Home
    </button>
    <button
      aria-label="Navigate to page - About"
      tabindex="0"
      class="header-nav-btn"
      onclick="window.location.href = '/about'"
    >
      About
    </button>
    <button
      aria-label="Navigate to page - Blog"
      tabindex="0"
      class="header-nav-btn"
      onclick="window.location.href = '/blog'"
    >
      Blog
    </button>
    <button
      id="themeToggleButton"
      style="border-right: 2px solid var(--accent-color)"
    >
      <i class="fas fa-moon fa-lg"></i>
    </button>
  </nav>
</div>
