<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="{{ page.description || site.description }}"
  />
  <title id="layout-title">{{ page.title }} - {{site.title}}</title>
  <link rel="preconnect" href="https://rsms.me/" />
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{{ site.baseurl }}/assets/icon/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{ site.baseurl }}/assets/icon/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{ site.baseurl }}/assets/icon/favicon-16x16.png"
  />
  <link rel="manifest" href="{{ site.baseurl }}/assets/icon/site.webmanifest" />
  <link
    id="layout-styles"
    rel="stylesheet"
    href="{{ site.baseurl }}/assets/css/main.css"
  />
</head>
