<!DOCTYPE html>
<html>
  <head>
    <style>
      .blog-navbar {
        width: max-content;
        background-color: var(--secondary-color);
        opacity: 0.88;
      }
      .blog-navbar-content {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
      }
      .suggested-posts {
        margin: auto;
        margin-left: 10px;
        padding: 0.1rem;
      }
    </style>
  </head>
  <body>
    <!-- Left Navbar -->
    <div class="blog-navbar text-center">
      Explore
      <div class="blog-navbar-content">
        <ul class="suggested-posts">
          {% for blog in site.blog %}
          <li class="suggested-posts">
            <a href="{{ blog.url }}">{{ blog.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
