#contentWindow {
  .layout-footer {
    flex-shrink: 0;
    height: 66px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    .signature {
      display: flex;
      height: 100%;
      .left {
        display: flex;
        justify-content: end;
        flex: 1;
        align-self: center;
        margin-right: 0.3rem;
      }
      .middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .right {
        display: flex;
        justify-content: start;
        flex: 1;
        align-self: center;
        margin-left: 0.3rem;
      }
    }
  }
}
