@charset "utf-8";

.header-container {
  position: sticky;
  top: 0;
  z-index: 999;
  // flex-basis: content;

  .header-nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    height: 90%;
    width: 90%;
    gap: 5px;
    padding: 0.1rem;
    margin: auto;
  }

  .header-nav-btn {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    border: 2px solid var(--accent-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.7rem;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      @include header-btn-animation;
      background-color: var(--secondary-color);
      color: #ffffff;
      animation: rock 0.35s 1;
    }

    &:active {
      background-color: var(--accent-color);
      color: #ffffff;
      transform: scale(0.9);
    }
  }
}
