#contentWindow {
  .layout-header {
    display: flex;
    flex-shrink: 0;
    overflow: hidden;
    height: 66px;
    background-color: var(--secondary-color);
    .logo {
      user-select: none;
      flex-basis: 0;
      flex: 0.1;
      margin: auto 32px;
      font-size: 24px;
      font-weight: 800;
    }

    @media screen and (max-width: 480px) {
      .logo {
        display: none;
      }
    }

    nav {
      display: grid;
      gap: 4px;
      grid-template-columns: repeat(4, 1fr);
      width: 50%;
      height: 60%;
      margin: auto;
      margin-left: 1rem;
      button {
        user-select: none;
        min-width: 60px;
        margin-right: -1px;
        transition: background-color 0.3s ease, color 0.3s ease;
        background-color: var(--secondary-color);
        cursor: pointer;
        border: none;
        border-left: 2px solid var(--accent-color);
        font-size: 0.7rem;
        font-weight: 600;
        color: var(--text-color);
        &:hover {
          @include header-btn-animation;
          animation: rock 0.35s 1;
          background-color: var(--primary-color);
        }
      }
    }
  }
}
