@charset "utf-8";

html,
body {
  margin: 0;
  background-color: #333;
  overflow: hidden;
}

#layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--text-color);

  #contentWindow {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;

    .liquid {
      display: flex;
      flex: 1;
    }
  }
}

.light-theme-override {
  @each $key, $value in $theme-light {
    --#{$key}: #{$value};
  }
}
.dark-theme-override {
  @each $key, $value in $theme-dark {
    --#{$key}: #{$value};
  }
}
