@charset "utf-8";

@mixin setTheme($theme) {
  :root {
    @each $key, $value in $theme {
      --#{$key}: #{$value};
    }
  }
}

@mixin assumeRootColor {
  :root {
    background-color: var(--primary-color);
    color: var(--text-color);
  }
}

// Animations
@mixin header-btn-animation {
  @keyframes rock {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-2deg);
    }
    50% {
      transform: rotate(2deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}
