@charset "utf-8";

.about-page {
  .container {
    background-color: var(--secondary-color);
    width: 66%;
    height: fit-content;
    margin: 3rem auto;
    padding: 1rem;
    box-shadow: 2px 2px 25px rgba(46, 45, 45, 0.3),
      -2px -2px 25px rgba(134, 129, 129, 0.3);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    overflow: auto;

    .build-info {
      display: block;
      margin-top: 1rem;
      font-size: 0.7rem;
      text-align: center;
      text-decoration: italic;
    }
  }
  .text-center {
    text-align: center;
  }
  .bold {
    font-weight: bold;
  }
}
