@charset "utf-8";

.index-page {
  .btn-placeholder {
    text-decoration: line-through;
    filter: blur(1px); /* Apply the blur effect on hover */
  }
  .btn-placeholder:hover {
    background-color: var(--secondary-color);
  }

  .nav-panel {
    /* border: 10px solid #0000003b; */
    box-shadow: 2px 2px 25px rgba(46, 45, 45, 0.3);
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    width: fit-content;
    max-width: 60vw;
    margin: 5vh auto;
  }

  .nav-panel-btn {
    margin: 0.1rem;
    padding: 1rem 2rem;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    color: var(--text-color);
  }
  .nav-panel-btn:hover {
    background-color: var(--tertiary-color);
    cursor: pointer;
  }
}
