.overlay {
  background-color: var(--secondary-color);
  opacity: 0.77;
  width: 100%;
  height: fit-content;
}
.global-header {
  /* TODO: Prevent this from being tucked away when scrolling down */
  position: sticky;
  top: 0;
  z-index: 1;
  align-self: flex-start;
}
.global-footer {
  align-self: flex-end;
  margin-top: auto;
  padding: 0.5rem;
  padding-bottom: 0.1rem;
}
.global-header-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 30%;
  margin-left: 66%;
}
.global-header-btn {
  height: 2.5rem;
  border: 3px solid var(--tertiary-color);
  border-radius: 30px;
  background-color: var(--secondary-color);
  color: var(--text-color);
}
.global-header-btn:hover {
  background-color: var(--tertiary-color);
  cursor: pointer;
}

.made-with-love {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dev-btn {
  padding: 1rem 2rem;
  margin: 0.1rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 4px;
  font-size: 1rem;
}
.dev-btn:hover {
  background-color: var(--tertiary-color);
  cursor: help;
}
