<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <style>
      #sidebarContainer {
        overflow: auto;
        width: 50px;
        transition: width 0.3s ease;
        background-color: var(--secondary-color);
      }
      #layout .sidebar-open {
        width: 240px !important;
      }
      #layout #sidebarHandle {
        height: 30px;
        width: 30px;
        margin: 10px;
        background-color: transparent;
      }
    </style>
    <div id="layout">
      <div id="sidebarContainer">
        <div style="display: flex; justify-content: flex-end">
          <button
            id="sidebarHandle"
            title="Toggle the sidebar menu"
            onclick="document.getElementById('sidebarContainer').classList.toggle('sidebar-open')"
          >
            |<i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
      <div id="contentWindow">
        {% include header.html %}
        <div class="liquid">{{ content }}</div>
        {% include footer.html %}
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>
